<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ZYEmptyDataSourceTitleKey</key>
		<string>无网络连接</string>
		<key>ZYEmptyDataSourceTitleColorKey</key>
		<string>1 0 0 1</string>
		<key>ZYEmptyDataSourceTitleFontKey</key>
		<string>20</string>
		<key>ZYEmptyDataSourceDescriptionTitleKey</key>
		<string>请到 设置 - 通用 检查网络连接状态</string>
		<key>ZYEmptyDataSourceDescriptionColorKey</key>
		<string>0.2 0 0 1</string>
		<key>ZYEmptyDataSourceDescriptionFontKey</key>
		<string>11</string>
		<key>ZYEmptyDataSourceButtonTitleKey</key>
		<string>重试</string>
		<key>ZYEmptyDataSourceButtonTitleColorKey</key>
		<string>0 0.4 0.6 1</string>
		<key>ZYEmptyDataSourceButtonTitleFontKey</key>
		<string>15</string>
		<key>ZYEmptyDataSourceButtonImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonBackgroundImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceImageKey</key>
		<string>noNetwork_empty</string>
		<key>ZYEmptyDataSourceBackgroundColorKey</key>
		<string>0.13 0.78 0.74 1</string>
		<key>ZYEmptyDataSourceVerticalOffsetKey</key>
		<string>100</string>
		<key>ZYEmptyDataSourceVerticalSpaceKey</key>
		<string>25</string>
	</dict>
	<dict>
		<key>ZYEmptyDataSourceTitleKey</key>
		<string></string>
		<key>ZYEmptyDataSourceTitleColorKey</key>
		<string>0 1 0 1</string>
		<key>ZYEmptyDataSourceTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionTitleKey</key>
		<string>加载中...</string>
		<key>ZYEmptyDataSourceDescriptionColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonBackgroundImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceBackgroundColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalOffsetKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalSpaceKey</key>
		<string></string>
	</dict>
	<dict>
		<key>ZYEmptyDataSourceTitleKey</key>
		<string>暂无评论</string>
		<key>ZYEmptyDataSourceTitleColorKey</key>
		<string>0 0 1 1</string>
		<key>ZYEmptyDataSourceTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionTitleKey</key>
		<string>赶紧抢沙发吧</string>
		<key>ZYEmptyDataSourceDescriptionColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonBackgroundImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceImageKey</key>
		<string>empty_my_comment3</string>
		<key>ZYEmptyDataSourceBackgroundColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalOffsetKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalSpaceKey</key>
		<string></string>
	</dict>
	<dict>
		<key>ZYEmptyDataSourceTitleKey</key>
		<string>加载失败</string>
		<key>ZYEmptyDataSourceTitleColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionTitleKey</key>
		<string>请重新加载</string>
		<key>ZYEmptyDataSourceDescriptionColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleKey</key>
		<string>重载</string>
		<key>ZYEmptyDataSourceButtonTitleColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonBackgroundImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceImageKey</key>
		<string>empty_my_publish3</string>
		<key>ZYEmptyDataSourceBackgroundColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalOffsetKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalSpaceKey</key>
		<string></string>
	</dict>
	<dict>
		<key>ZYEmptyDataSourceTitleKey</key>
		<string></string>
		<key>ZYEmptyDataSourceTitleColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionTitleKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceDescriptionFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonTitleFontKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceBackgroundColorKey</key>
		<string></string>
		<key>ZYEmptyDataSourceButtonBackgroundImageKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalOffsetKey</key>
		<string></string>
		<key>ZYEmptyDataSourceVerticalSpaceKey</key>
		<string></string>
	</dict>
</array>
</plist>
